#### 라이브러리 정의

In [1]:
### 오라클 라이브러리
import cx_Oracle

In [2]:
### DB 서버 연결 및 접속 후 커서 생성
dsn = cx_Oracle.makedsn("localhost", 1521, "xe")
conn = cx_Oracle.connect("busan", "dbdb", dsn)
cursor = conn.cursor()

In [3]:
### 프로시저가 반환하는 타입으로 받아올 변수 정의
# var(cx_Oracle.CURSOR) : 오라클 CURSOR 타입의 행/열을 담을 객체로 정의
ref_cursor = cursor.var(cx_Oracle.CURSOR)
ref_cursor

In [4]:
### 저장 프로시저 호출
# - callproc("호출할 프로시저 이름", [전달할 매개변수값, 받아올 변수명]) :
cursor.callproc("sp_getMemberView", ["a001", ref_cursor])

['a001',
 <cx_Oracle.Cursor on <cx_Oracle.Connection to busan@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))>>]

In [5]:
### 받아온 ref_cursor 내에 객체 추출
# - 객체 : 프로시저가 넘겨준 Sys_RefCursor 메모리
result_cursor = ref_cursor.getvalue()
result_cursor

In [6]:
rows = result_cursor.fetchall()
rows

[('a001', '김은대', '대전시 동구 용운동', '대전')]

In [7]:
columns = result_cursor.description
columns

[('MEM_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('MEM_NAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 20, 20, None, None, 0),
 ('MEM_ADD1', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 100, 100, None, None, 0),
 ('AREA', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 4000, 4000, None, None, 1)]

In [8]:
import pandas as pd
df = pd.DataFrame(rows, columns=[col[0] for col in columns])
df

  MEM_ID MEM_NAME    MEM_ADD1 AREA
0   a001      김은대  대전시 동구 용운동   대전

- cx_Oracle : 오라클 기능만을 컨트롤하는 라이브러리
- 판다스와 DB(oracle 포함 모든 Database) 기능을 연동해서 컨트롤해주는 라이브러리
    - sqlalchemy 라이브러리 사용
    - 데이터베이스의 쿼리 결과를 데이터 프레임으로 직접 받아 올 수 있음
    - 데이터 프레임의 행/열 데이터를 DB에 테이블로 저장 시키는 기능이 있음

#### 사용할 라이브러리

In [9]:
import pandas as pd

### 판다스와 연동할 DB 라이브러리 정의
# - sqlalchemy 설치
# - pip install sqlalchemy
# - create_engine : DB 접속을 위한 라이브러리
# - types 는 기본 정의
from sqlalchemy import create_engine, types

In [10]:
### 오라클 서버로 접근하기
oracle = create_engine("oracle://busan:dbdb@localhost:1521/xe")
oracle

Engine(oracle://busan:***@localhost:1521/xe)

In [11]:
### 오라클 접속 정보 받아오기
conn = oracle.connect()
conn

In [12]:
### 구문 작성
sql = """
 SELECT *
 FROM member
 ORDER BY mem_name ASC
"""

### 판다스의 read_sql() 함수를 이용하여 데이터 조회
# - 데이터 프레임으로 반환
df_member = pd.read_sql(sql=sql, con=conn)
df_member.head(1)

,mem_id,mem_pass,mem_name,mem_regno1,mem_regno2,mem_bir,mem_zip,mem_add1,mem_add2,mem_hometel,mem_comtel,mem_hp,mem_mail,mem_job,mem_like,mem_memorial,mem_memorialday,mem_mileage,mem_delete
0,l001,12345678,구길동,881214,1234566,1988-12-14,339-841,충남금산군 금산읍,하리35-322,0412-322-8865,0412-322-8865,016-322-8865,email815@hanmail.co.kr,자영업,바둑,결혼기념일,1999-12-12,5300,None

#### 테이블 이름을 이용해서 데이터 프레임으로 정보 받아오기

In [13]:
### 특정 테이블에 있는 모든 정보를 데이터 프레임으로 조회
table_name = "member"
df_member2 = pd.read_sql_table(table_name=table_name, con=conn)
df_member2.head(1)

,mem_id,mem_pass,mem_name,mem_regno1,mem_regno2,mem_bir,mem_zip,mem_add1,mem_add2,mem_hometel,mem_comtel,mem_hp,mem_mail,mem_job,mem_like,mem_memorial,mem_memorialday,mem_mileage,mem_delete
0,a001,asdfasdf,김은대,760115,1406420,1976-01-15,135-972,대전시 동구 용운동,222-2번지,042-621-4615,042-621-4615,011-621-4615,pyoedab@lycos.co.kr,주부,수영,결혼기념일,1999-01-12,1000,None

#### 데이터 프레임 데이터 -> DB 테이블 생성과 저장

In [18]:
### 데이터 프레임 데이터 -> DB에 테이블을 생성과 데이터 저장
# DB에 새로 생성할 Table 이름 정의
table_name = "member2"
df_member2.to_sql(name=table_name,
                                  con=conn,
                                  if_exists="replace",
                                  index=False
                                )

conn.commit()

# - if_exists에 사용할 수 있는 옵션
# - fail : name에 넣은 테이블 이름과 실제 테이블 이름이 존재하면 실패처리
# - append : 실제 테이블이 존재하면 데이터프레이므이 행을 실제 테이블에 추가하는 방식
# - replace : 실제 테이블이 존재하지 않으면 테이블 생성 후 데이터 추가 (주로 사용되는 옵션)
#                 : 실제 테이블이 존재하면 데이터프레임의 데이터로 대체

In [15]:
### 생성한 테이블에서 데이터 가져오기
pd.read_sql_table(table_name=table_name, con=conn)

,mem_id,mem_pass,mem_name,mem_regno1,mem_regno2,mem_bir,mem_zip,mem_add1,mem_add2,mem_hometel,mem_comtel,mem_hp,mem_mail,mem_job,mem_like,mem_memorial,mem_memorialday,mem_mileage,mem_delete
0,k001,7227,오철희,620123,1449311,1962-01-23,306-702,대전시 대덕구 대화동,34-567,042-157-8765,042-157-8765,016-157-8765,equus@orgio.net,자영업,서예,아내생일,1999-11-12,3700,None
1,l001,12345678,구길동,881214,1234566,1988-12-14,339-841,충남금산군 금산읍,하리35-322,0412-322-8865,0412-322-8865,016-322-8865,email815@hanmail.co.kr,자영업,바둑,결혼기념일,1999-12-12,5300,None
2,m001,pass,박지은,750315,2555555,1975-03-15,306-702,대전광역시 서구 갈마동,인성아파트 234동 907호,042-252-0675,042-252-0675,016-252-0675,happy@hanmail.net,은행원,등산,아버님생신,1999-12-12,1300,None
3,n001,1111,탁원재,750323,1011014,1975-03-23,306-702,대전시 동구 자양동,32-23,042-632-2176,042-632-2176,019-632-2176,ping75@unitel.co.kr,축산업,낚시,결혼기념일,1999-02-12,2700,None
4,o001,0909,배인정,780930,2447619,1978-09-30,306-702,대전시 서구 갈마동,경성아파트502동1101호,042-622-5971,042-622-5971,011-622-5971,tar-song@hanmail.net,회사원,등산,어머님생신,1999-03-12,2600,None
5,p001,sahra3,오성순,730805,2458323,1973-08-05,306-702,대전유성구송강동,한솔아파트 703동 407호,042-810-7658,042-810-7658,017-810-7658,sahra235@intz.com,공무원,독서,남편생일,1999-05-12,2200,None
6,q001,0000,육평회,721020,1402722,1972-10-20,306-702,대구광역시 대덕구 중리동,678-43,042-823-2359,042-823-2359,017-823-2359,kph@hanmail.net,자영업,만화,결혼기념일,1999-06-12,1500,None
7,r001,park1005,정은실,770120,2382532,1976-11-26,306-702,대전시 동구 용전동,321-25,042-533-8768,042-533-8768,016-533-8768,econie@hanmail.net,학생,장기,어머님생신,1999-07-12,700,None
8,s001,0819,안은정,770819,2459927,1977-10-01,306-702,대구광역시 서구 탄방동,산호아파트 107동 802호,042-222-8155,042-222-8155,019-222-8155,songej@hanmail.net,공무원,바둑,결혼기념일,1999-07-12,3200,None
9,t001,0506,성원태,760506,1454731,1976-05-06,306-702,대전광역시 중구 유천동,한사랑아파트 302동 504호,042-272-8657,042-272-8657,011-272-8657,bob6@hanmail.net,학생,카레이싱,결혼기념일,1999-08-12,2200,None
10,u001,1000,김성욱,731010,1460111,1973-10-10,306-702,대전시 동구 용전동,76-54,042-273-9056,042-273-9056,018-273-9056,pss576@orgio.net,주부,영화감상,결혼기념일,1999-07-12,2700,None
11,v001,00001111,이진영,520131,2402712,1952-01-31,306-702,대전시 동구 용전동,566-39번지,042-240-8766,042-240-8766,017-240-8766,gagsong@orgio.net,자영업,낚시,남편생일,1999-09-12,4300,None
12,w001,12341234,김형모,631213,1111111,1963-12-13,306-702,대전시 대덕구 연축동,23-43,02-345-9877,02-345-9877,011-345-9877,songone@hanmail.net,학생,등산,결혼기념일,1999-11-12,2700,None
13,x001,0000,진현경,770319,2110222,1977-03-19,306-702,대전광역시 동구 오정동,43-26,042-223-8767,042-223-8767,019-223-8767,happysong@hanmail.net,주부,독서,결혼기념일,1999-02-12,8700,None
14,a001,asdfasdf,김은대,760115,1406420,1976-01-15,135-972,대전시 동구 용운동,222-2번지,042-621-4615,042-621-4615,011-621-4615,pyoedab@lycos.co.kr,주부,수영,결혼기념일,1999-01-12,1000,None
15,b001,1004,이쁜이,741004,2900000,1974-01-07,700-030,서울시 천사동 예쁜마을,1004-29,02-888-9999,02-888-9999,016-888-9999,engelcd@pretty.net,회사원,수영,아버님생신,1999-02-12,2300,None
16,c001,7777,신용환,740124,1400716,1974-01-24,407-817,대전광역시 중구 대흥동,477-9,042-123-5678,042-123-5678,011-123-5678,kyh01e@hanmail.net,교사,독서,아내생일,1999-03-12,3500,None
17,d001,123joy,성윤미,460409,2000000,1946-04-09,501-705,대전시 중구 하늘동,땅 3번지,042-222-8877,042-222-8877,019-222-8877,dbs81f@hanmail.net,공무원,볼링,결혼기념일,1999-04-12,1700,None
18,e001,00000000,이혜나,750501,2406017,1975-05-01,617-800,대전시 대덕구 읍내동,혜강아파트,042-432-8901,042-432-8901,011-432-8901,bosiang@hanmail.net,농업,당구,아버님생신,1999-05-12,6500,None
19,f001,12345678,신영남,751228,1459919,1972-11-04,140-706,대전광역시 대흥동,65-33 303호,042-253-2121,042-253-2121,011-253-2121,SUPER-KHG@HANMAIL.NET,주부,볼링,아내생일,1999-06-12,2700,None
20,g001,1456,송경희,771111,2403414,1965-01-01,339-841,충남금산군 제원면,심내리123-1,0412-356-3578,0412-356-3578,017-356-3578,lim052@hanmail.net,주부,스키,결혼기념일,1999-07-12,800,None
21,h001,9999,라준호,740728,1455822,1967-03-01,339-841,충남 논산시 양촌면,산직3구 345,042-522-1679,042-522-1679,019-522-1679,wingl7@hanmail.net,회사원,독서,아내생일,1999-08-12,1500,None
22,i001,1111,최지현,741220,2384719,1974-12-20,306-702,대전시 동구 가양1동,768-12,042-614-6914,042-614-6914,017-614-6914,pan@orgio.net,공무원,등산,남편생일,1999-09-12,900,None
23,j001,6262,김윤희,751019,2448920,1975-11-21,306-702,대전시 서구 삼천동,한신아파트305동309호,042-332-8976,042-332-8976,018-332-8976,maxsys@hanmail.net,농업,개그,결혼기념일,1999-10-12,1100,None

In [19]:
conn.close()